<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nehan Yaser's Portfolio</title>
    <link rel="stylesheet" href="/styles/feed.css">
</head>

<body>

    <div class="status">Loading...</div>

    <div class="header">
        <h2>I'm Nehan Yaser</h2>
        <p style="margin-bottom: 0.7rem;">hobbyist photographer</p>
        <p>nehan.khan779@gmail.com</p>
    </div>

    <center>
        <p
            style="font-weight: bold; font-size: large; text-decoration: underline; padding: 1rem; padding-bottom: 2rem;">
            Gallery</p>
    </center>

    <div class="img-container"></div>

    <script src="/scripts/feed.js" type="module"></script>
</body>

</html>