<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo</title>
</head>
<body>
    <div class="img-container"></div>
    <div class="meta-container">
        <div class="resolution"></div>
        <div class="make"></div>
        <div class="model"></div>
        <div class="focal-length"></div>
        <div class="shutterspeed"></div>
        <div class="fnumber"></div>
        <div class="iso"></div>
        <div class="exposure"></div>
        <div class="flash"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="/scripts/photo.js" type="module"></script>
</body>
</html>