@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.header h2 {
  padding: 0.7rem;
}

.img-container {
  padding: 1rem;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, 380px);
}

.img-container a {
  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 380px;
}

.img-container a img {
  border: 2px solid black;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.status {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

@media screen and (max-width: 1070px) {
  .img-container {
    grid-template-columns: repeat(auto-fit, 400px);
  }

  .img-container a {
    min-width: 400px;
  }
}

@media screen and (max-width: 860px) {
  .img-container {
    grid-template-columns: repeat(auto-fit, 440px);
  }
  .img-container a {
    min-width: 440px;
  }
}

@media screen and (max-width: 700px) {
  .img-container {
    grid-template-columns: repeat(auto-fit, 420px);
  }
  .img-container a {
    min-width: 420px;
  }
}

@media screen and (max-width: 470px) {
  .img-container {
    grid-template-columns: repeat(auto-fit, 330px);
  }
  .img-container a {
    min-width: 330px;
  }
}

@media screen and (max-width: 380px) {
  .img-container {
    grid-template-columns: repeat(auto-fit, 290px);
  }
  .img-container a {
    min-width: 290px;
  }
}

@media screen and (max-width: 330px) {
  .img-container {
    grid-template-columns: repeat(auto-fit, 250px);
  }

  .img-container a {
    min-width: 250px;
  }
}
